.dropdown {
    .dropdown-item {
        &.is-active {
            background-color: #3273dc;
            color: #fff;
        }

        &:not(.is-active):not(:active) {
            &.is-hover, &:hover {
                background-color: #f5f5f5;
                color: #0a0a0a;
            }
        }
    }
}
