.main {
    min-height: calc(100vh - 72px - 168px);
}

.pointer {
    cursor: pointer;
}

.layout--xl {
    @media(min-width: 1200px) {
        &.gutters {
            margin: 0 100px;
        }
    }
}

.layout--xxl {
    @media(min-width: 1800px) {
        &.gutters {
            margin: 0 16vw;
        }
    }
}

.layout--inset {
    padding-left: 12px;
    padding-right: 12px;
}

.layout--space-above {
    padding-top: 12px;
}

.layout--space-below {
    padding-bottom: 12px;
}

.layout--stack-between {
    display: flex;
    flex-direction: column;

    & > *:not(:first-child) {
        margin-top: 12px;
    }
}

.layout--space-between {
    display: flex;
    flex-direction: row;

    & > *:not(:first-child) {
        margin-left: 12px;
    }
}

.layout--center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout--align-center {
    display: flex;
    align-items: center;
}

.is-small {
    font-size: 0.75em;
}
