@import 'variables';
@import 'normalize';

@import 'components/calendar';
@import 'components/dropdown';
@import 'components/fields';
@import 'components/toast';
@import 'dashboard';
@import 'header';
@import 'layout';
@import 'pages/hangouts';

.loader.large {
    border-width: 8px;
    height: 100px;
    width: 100px;
}
