@import 'dashboard';
@import 'header';
@import 'layout';

* {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

.loader.large {
    border-width: 8px;
    height: 100px;
    width: 100px;
}
